* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: white;
    background-image: url();
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #0056b3;
}

.main-content {
    height: calc(100% - 60px);
    background: url('background.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.email-form {
    display: flex;
}

.email-form input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.email-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #0056b3;
}
